target/
.idea/
workspace.xml
/week1/wikipedia/src/main/resources/wikipedia/wikipedia.dat
/week2/stackoverflow/src/main/resources/stackoverflow/stackoverflow.csv
/week4/timeusage/src/main/resources/timeusage/atussum.csv
